<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class="register-form">
    <% if (messages && Object.keys(messages).length > 0) { %>
      <div class="flash-messages">
        <% Object.keys(messages).forEach(function (type) { %>
          <% messages[type].forEach(function (message) { %>
            <div class="flash-message <%= type %>"><%= message %></div>
          <% }) %>
        <% }) %>
      </div>
    <% } %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <form id="registerForm" action="/account/register" method="POST">
      <label for="account_type">Account Type:</label>
      <select name="account_type" id="account_type" required>
        <option value="Client">Client</option>
        <option value="Employee">Employee</option>
        <option value="Admin">Admin</option>
      </select>

      <label for="account_firstname">First Name:</label>
      <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">

      <label for="account_lastname">Last Name:</label>
      <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">

      <label for="account_email">Email:</label>
      <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>" placeholder="Enter a valid email address">

      <label for="account_password">Password:</label>
      <span class="span-password">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
      <div class="password-container">
        <input 
          type="password" 
          id="account_password" 
          name="account_password" 
          required 
          minlength="12" 
          pattern="(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}"          
          title="Password must be at least 12 characters long, contain at least 1 capital letter, 1 number, and 1 special character."
        >
        <button type="button" id="togglePassword">Show</button>
      </div>

      <button type="submit">Register</button>
    </form>
  </main>

  <script src="/js/script.js"></script>
</body>
</html>